include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include rl_arena *.yaml *.yml *.json
recursive-include rl_arena *.md
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
global-exclude __pycache__
global-exclude *.py[co]
